/toothlessos-log/archetypes
/toothlessos-log/assets
/toothlessos-log/content
/toothlessos-log/data
/toothlessos-log/i18n
/toothlessos-log/layouts
/toothlessos-log/resources
/toothlessos-log/static
/toothlessos-log/themes