{% extends "layout.html" %}

{% block title %}Homepage{% endblock %}

<!-- Sidebar -->
{% include 'sidebar.html' %}

{% block page_content %}

 <div class="container-fluid py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center py-2">
            <h1>ToothlessOS 13(*Tomori*) - 13.1.0(2503)</h1>
            <p class="lead">迷子でもいい　前へ進め</p>
        </div>
        <div class="col-md-8 text-center py-2">
            <h2>What is this?</h2>
            <p>A web development practice; Everything about ToothlessOS (Myself); A web-based toolbox for daily tasks.</p>
        </div>
        <div class="col-md-8 text-center py-2">
            <h2>About ToothlessOS</h2>
        </div>
        <div class="col-md-8 text-center py-2">
            <h2>ToothlessOS Tools</h2>
        </div>
        <div class="col-md-8 text-center py-2">
            <h2>ToothlessOS Log</h2>
        </div>
        <div class="col-md-8 text-center py-2">
            <h2>ToothlessOS APIs</h2>
        </div>
    </div>
</div>

{% endblock %}